html, body, #main {
  height: 100%;
}
.custom-img {
  position: static;
  height: 100%;
}
.header {
     background-color: black;
     font: 'Arial Narrow', Arial, sans-serif;
     font-stretch: condensed;
     text-align: left;
     line-height: 50px;
     width: 100%;
     color: white;
     font-size: 20px;
     margin: 0;
     padding: 0;
}

#content {
  position: relative
}
#list-container {
  height: 100%;
  width: 100%;
  overflow: scroll;
}
#list {
  width: 100%;
  height: 100%;
}
@media (min-width: 60em){

}
@media (max-width: 40em){
  .custom-img {
    visibility: hidden;
    display: none;
    max-height: 0;
  }
}
